.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/tmp/
/vendor/
.DS_Store
.project
.envrc
tf-owncloud/terraform.tfstate
tf-owncloud/terraform.tfvars
tf-owncloud/.terraform/*
tf-owncloud-docker/terraform.tfstate
tf-owncloud-docker/.terraform/*
